
<div class="content mt-5">
	<div class="animated fadeIn">
		<div class="row">
			<div class="col-md-8">
				<div class="card" style="margin-left: 339px;">
					<div class="card-header">          
						<div class="card-body">
							<div class="panel panel-danger" id="aj">
								<div class="panel-heading"> <%=@post.title%></div>
								<div class="panel-body"><%= image_tag(@post.image_url, :size => "260x180",style: "margin-left: 20%;") %> 
								</div>
								<h4><%= @post.comments.count %> Comments ::</h4>

								<%= link_to " #{@post.likes.count} Likes", all_likes_post_path(@post.id) , class: "btn btn-primary"%>
								<%if @my_like.present?%>
								<%= link_to "UnLike", unlike_post_path(@post.id) ,method: :post  ,  class: "btn btn-primary" %>
								<%else%>
								<%= link_to "Like", like_post_path(@post),method: :post  , class: "btn btn-primary" %>
								<%end%>

								<%= render 'posts/comment'%>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



